<!DOCTYPE html>
<html>
    <head>
        <title>Login</title> 
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>

    </head>
    <body>  
        <p style="width: 25%; margin-left: 70%;">
            Login
        </p> 
        <div id="form">    
        <form action="" style="margin:15px" method="post">            
                Username:<br>
                <input type="text" name="username" placeholder="username" value="" required>
                <br>
                Password:<br>
                <input type="password" name="password" placeholder="password" value="" required>                
                <br>
                <button type="submit" value="Login">Login</button>
                <br>         
                
        </form>
        </div> 
           
        <br>           
        <p style="width: 25%; margin-left: 70%;">
            <a href='register.html'>Register</a>
        </p>
      
    </body>
</html>