<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}"/>
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css')}}"/> -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

        <script type="text/javascript" href="{{ url_for('static', filename='css/bootstrap.min.js')}}"></script>

    </head>
    <body>
        <div style="color:rgb(54, 4, 61);"></div>
        <br>
        <div id="heading">
            <h3>
                Welcome to your dashboard
            </h3>
        </div>
        <div style="margin: auto; width: 50%;">
            <table class="table">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Shoppinglist</th>
                        <th>Update</th>
                        <th>Delete</th>
                        <th><button type="button" class="btn btn-info"  data-toggle="modal" data-target="#myModal">Add Items</button></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        {% for item in items %}
                        <th scope="row"></th>
                        <td>  {{item}}</td>
                        <td><a href="/edit/item/{{item}}"><i class="fa fa-edit" aria-hidden="true"></i></a></td>
                        <td><a href="/delete/item/{{item}}"><i class="fa fa-trash-o"></i></a></td>
                        <td><a href=""><i class="fa fa-plus-square" aria-hidden="true"></i></a></td>
                      </tr>

                    {% endfor %}
                    </tbody>
                  </table>

        </div>

        <div class="" style="margin-left:20%">
          <form action="" method="POST">
      
            <input type="text" name="item" placeholder="Add item">
            <br>
            <input type="submit" style="width:100px;" value="create" name="create">
            </form>
        </div>
    </div>

    </body>
</html>
