<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css')}}"/>
        <link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='css/bootstrap.min.js')}}"/>

    </head>
    <body> 
        <div style="color:rgb(54, 4, 61);"></div>>
        <br>
        <div id="heading">
            <h3>
                Welcome to your dashboard
            </h3>
        </div>
        <div style="margin: auto; width: 50%;">
            <table class="table">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Shoppinglist</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Add Items</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Back_to_School</td>
                        <td><i class="fa fa-edit" aria-hidden="true"></i></td>
                        <td><i class="fa fa-trash-o"></i></td>
                        <td><i class="fa fa-plus-square" aria-hidden="true"></i></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Grocery</td>
                        <td><i class="fa fa-edit" aria-hidden="true"></i></td>
                        <td><i class="fa fa-trash-o"></i></td>
                        <td><i class="fa fa-plus-square" aria-hidden="true"></i></td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Electrical_Appliances</td>
                        <td><i class="fa fa-edit" aria-hidden="true"></i></td>
                        <td><i class="fa fa-trash-o"></i></td>
                        <td><i class="fa fa-plus-square" aria-hidden="true"></i></td>
                      </tr>                        
                    </tbody>
                  </table>
        </div>
    </div>  
    
    <div id="form"> 
            
            <form action="" style="margin:15px" method="post">            
                    New Shopping_list:<br>
                    <input type="text" name="shoppinglist" placeholder="shoppinglist" value="{{
                        request.form.shoppinglist }}" required>
                   
                   
                        <div class="container">
                            {% if error%}
                            <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dissmiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p>{{ error }}</p>
                            </div>
                            {% endif%}
                        </div>
                        <br>
                    <button type="submit" value="Login">Generate Shopping List</button>
                          
                    
            </form>
            </div>     
    </body>
</html>