<!DOCTYPE html>
<html>
    <head>
        <title>Login</title> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css')}}"/>
        <link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='css/bootstrap.min.js')}}"/>

    </head>
    <body>  
        <p style="width: 25%; margin-left: 70%; margin-top:10%;">
            Login
        </p> 
        <div id="form">    
        <form action="" style="margin:15px" method="post">            
                Username:<br>
                <input type="text" name="username" placeholder="username" value="" required>
                <br>
                Password:<br>
                <input type="password" name="password" placeholder="password" value="" required>                
                <br>
                <br>                
                    <div class="container">
                        {% if error%}
                        <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dissmiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p>{{ error }}</p>
                        </div>
                        {% endif%}
                    </div>
                <br>
                <button type="submit" value="Login">Login</button>
                <br>         
                
        </form>
        </div> 
           
        <br>           
        <p style="width: 25%; margin-left: 85%;">
            <a href='register'>Create Account</a>
        </p>
      
    </body>
</html>