<!DOCTYPE html>
<html>
    <head>
        <title>Register</title> 
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css')}}"/>
        <link rel="stylesheet" type="text/javascript" href="{{ url_for('static', filename='css/bootstrap.min.js')}}"/>

    </head>
    <body>  
        <p style="width: 25%; margin-left: 70%; margin-top:10%;">
            New? Register
        </p> 
        <div id="form">    
        <form action="" style="margin:15px" method="post">            
                Username:<br>
                <input type="text" name="username" placeholder="username" value="{{
                    request.form.username }}" required>
                <br>
                Email:<br>
                <input type="text" name="email" placeholder="email" value="{{
                    request.form.email }}" required>
                <br>
                Password:<br>
                <input type="password" name="password" placeholder="password" value="{{
                    request.form.password }}" required>                
                <br>
                Confirm Password:<br>
                <input type="password" name="confirm_password" placeholder="confirm_password" value="{{
                    request.form.confirm_password }}" required>                
                <br>
                <br>                
                    <div class="container">
                        {% if error%}
                        <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dissmiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p>{{ error }}</p>
                        </div>
                        {% endif%}
                    </div>
                    <br>
                <button type="submit" value="Login">Register</button>
                <br>         
                
        </form>
        </div> 
      
    </body>
</html>